/build.xml
/nbproject/
/Bitrockimages/
/dist/
/build/
/manifest.mf
derby.log
test.db
/chromispos.xml
/chromispos.xml.backup
/src-pos.zip
/src-beans/uk/chromis/fixedimages/Thumbs.db
chromispos.jar
/chromisLiquibase.log
/log4j.xml

# IDE specific files
.idea/
.vscode/

# Build tool specific files
.bloop/
.bsp/
.mdoc/
.metals/
metals.sbt

# PowerShell specific files
PowerShell*/

# Build output directories
target/

# Miscellaneous
null/