# IDE specific files
.idea/
.vscode/

# Build tool specific files
.bloop/
.bsp/
.mdoc/
.metals/
metals.sbt
nbproject/

# PowerShell specific files
PowerShell*/

# Build output directories
target/
dist/
build/

# Miscellaneous
null/
derby.log
test.db
